<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.roomtastic.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Roomtastic.app/Contents/MacOS/RoomtasticService</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>org.roomtastic.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ExitTimeOut</key>
	<integer>30</integer>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ROOMTASTIC_SENDER_PATH</key>
		<string>/Applications/Roomtastic.app/Contents/Helpers/cliairplay</string>
	</dict>
</dict>
</plist>
